@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

@font-face{
    src: '../fonts/fa-brands-400.ttf' ;
    font-family: 'fa-brands';
}
@font-face{
    src: '../fonts/fa-regular-400.ttf';
    font-family: 'fa-reg';
}
@font-face{
    src: '../fonts/fa-solid-900.ttf';
    font-family: 'fa-solid';
}
