@import "../../style/setup/setup.scss";

.main-hero {
    padding: $page-padding;
    padding-top: 100px;
    height: 90vh;
    @media only screen and (max-width: $normal-breakpoint) {
        padding: $page-padding-mobile;
        padding-top: 100px;
    }
    @media only screen and (max-width: $narrow-breakpoint) {
        flex-wrap: wrap;
        align-content: flex-start;
        padding-top: 70px;
        height: unset;
    }
    .personal-details {
        height: 60vh;
        @media only screen and (max-width: $narrow-breakpoint) {
            justify-content: flex-start;
            height: 50vh;
        }
        .main-title {
            width: 500px;
            @media only screen and (max-width: $normal-breakpoint) {
                width: 400px;
            }
            @media only screen and (max-width: $narrow-breakpoint) {
                width: 100%;
            }
            position: relative;
            h1 {
                font-size: 6rem;
                line-height: 6rem;
                margin-bottom: 30px;
                @media only screen and (max-width: $normal-breakpoint) {
                    font-size: 5.7rem;
                    line-height: 5.7rem;
                }
            }
            .decorarion {
                width: 15%;
                height: 10px;
                background-color: $clr-primary;
                border-radius: 20px;
                @media only screen and (max-width: $narrow-breakpoint) {
                margin-bottom: 40px;
                }
            }
        }
        .social-medias {
            a {
                margin-right: 30px;
            }
            img {
                width: 25px;
            }
        }
    }
    .description {
        .title {
            @include title;
        }
        .job-title {
            font-size: 2rem;
            line-height: 2.5rem;
            margin-bottom: 20px;
            @media only screen and (max-width: $large-breakpoint) {
                font-size: 1.5rem;
                line-height: 2rem;
            }
        }
        p {
            color: $clr-gray-light;
            @media only screen and (max-width: $large-breakpoint) {
                font-size: 0.9rem;
                // line-height: 2rem;
            }
        }
        .projects-link{
            margin-bottom: 20px;
            a{

                color: $clr-primary;
            }
        }
    }
}
